[submodule "tia21"]
	path = tia21
	url = https://pickupsa:h7n4j67bojbllh3zqnj66vi6jlsqyeocen6esqwebb4nrssc3hva@dev.azure.com/pickupsa/Pickup/_git/TIA21
[submodule "colis21"]
	path = colis21
	url = https://pickupsa:hley2us2mspmwgfndxkgplbvhzjifgv2pztkotc6rq2eq3akysrq@dev.azure.com/pickupsa/Pickup/_git/Colis21
[submodule "tia21-config"]
	path = tia21-config
	url = https://pickupsa:wdcochjwnejq5ctczmzjhkhurth4k5iv6gwmx7ltkrhbx2xu4vnq@dev.azure.com/pickupsa/Pickup/_git/TIA21-config
[submodule "colis21-config"]
	path = colis21-config
	url = https://pickupsa:olmbqanvnrqhxqsklukbd7tqlltqa2kwhsvrg4q72x6gvieufrcq@dev.azure.com/pickupsa/Pickup/_git/Colis21-config
[submodule "api-doc2"]
	path = api-doc2
	url = ./ansible
[submodule "ansible"]
	path = ansible
	url = ./ansible
[submodule "api-slack"]
	path = api-slack
	url = ./api-slack
[submodule "applescript"]
	path = applescript
	url = ./applescript
[submodule "automation"]
	path = automation
	url = ./automation
[submodule "backup-cleaner"]
	path = backup-cleaner
	url = ./backup-cleaner
[submodule "backup-scripts"]
	path = backup-scripts
	url = ./backup-scripts
[submodule "bashbunny-payloads"]
	path = bashbunny-payloads
	url = ./bashbunny-payloads
[submodule "battistelli"]
	path = battistelli
	url = ./battistelli
[submodule "bitwarden-server"]
	path = bitwarden-server
	url = ./bitwarden-server
[submodule "brainperformer"]
	path = brainperformer
	url = ./brainperformer
[submodule "bruteforce-gpg"]
	path = bruteforce-gpg
	url = ./bruteforce-gpg
[submodule "caddix"]
	path = caddix
	url = ./caddix
[submodule "caps2esc"]
	path = caps2esc
	url = ./caps2esc
[submodule "colis21"]
	path = colis21
	url = ./colis21
[submodule "concours-consultants-2013"]
	path = concours-consultants-2013
	url = ./concours-consultants-2013
[submodule "consultant-mobile-app"]
	path = consultant-mobile-app
	url = ./consultant-mobile-app
[submodule "cv"]
	path = cv
	url = ./cv
[submodule "cv2"]
	path = cv2
	url = ./cv2
[submodule "discord-bot"]
	path = discord-bot
	url = ./discord-bot
[submodule "docker"]
	path = docker
	url = ./docker
[submodule "docker-api"]
	path = docker-api
	url = ./docker-api
[submodule "docker-consultants"]
	path = docker-consultants
	url = ./docker-consultants
[submodule "docker-engine"]
	path = docker-engine
	url = ./docker-engine
[submodule "dotfiles"]
	path = dotfiles
	url = ./dotfiles
[submodule "focalboard"]
	path = focalboard
	url = ./focalboard
[submodule "Fourier"]
	path = Fourier
	url = ./Fourier
[submodule "gansformer"]
	path = gansformer
	url = ./gansformer
[submodule "git"]
	path = git
	url = ./git
[submodule "github-cv"]
	path = github-cv
	url = ./github-cv
[submodule "go"]
	path = go
	url = ./go
[submodule "hackerrank"]
	path = hackerrank
	url = ./hackerrank
[submodule "hackingtool"]
	path = hackingtool
	url = ./hackingtool
[submodule "homebrew-core"]
	path = homebrew-core
	url = ./homebrew-core
[submodule "icons-in-terminal"]
	path = icons-in-terminal
	url = ./icons-in-terminal
[submodule "infra-dockers-consultants"]
	path = infra-dockers-consultants
	url = ./infra-dockers-consultants
[submodule "inspircd"]
	path = inspircd
	url = ./inspircd
[submodule "interception_tools"]
	path = interception_tools
	url = ./interception_tools
[submodule "iseplife-back"]
	path = iseplife-back
	url = ./iseplife-back
[submodule "iseplife-front"]
	path = iseplife-front
	url = ./iseplife-front
[submodule "iseplive"]
	path = iseplive
	url = ./iseplive
[submodule "java"]
	path = java
	url = ./java
[submodule "je-todoapp"]
	path = je-todoapp
	url = ./je-todoapp
[submodule "je-wiki"]
	path = je-wiki
	url = ./je-wiki
[submodule "john"]
	path = john
	url = ./john
[submodule "jupyter"]
	path = jupyter
	url = ./jupyter
[submodule "latex"]
	path = latex
	url = ./latex
[submodule "lightcord-bin"]
	path = lightcord-bin
	url = ./lightcord-bin
[submodule "linkedix"]
	path = linkedix
	url = ./linkedix
[submodule "linux"]
	path = linux
	url = ./linux
[submodule "log4jpwn"]
	path = log4jpwn
	url = ./log4jpwn
[submodule "markdown"]
	path = markdown
	url = ./markdown
[submodule "metasploit-framework"]
	path = metasploit-framework
	url = ./metasploit-framework
[submodule "minikube"]
	path = minikube
	url = ./minikube
[submodule "mounts"]
	path = mounts
	url = ./mounts
[submodule "neovim"]
	path = neovim
	url = ./neovim
[submodule "nerd-fonts"]
	path = nerd-fonts
	url = ./nerd-fonts
[submodule "netcat"]
	path = netcat
	url = ./netcat
[submodule "nvim"]
	path = nvim
	url = ./nvim
[submodule "pandoc-api"]
	path = pandoc-api
	url = ./pandoc-api
[submodule "paraphrase-generator"]
	path = paraphrase-generator
	url = ./paraphrase-generator
[submodule "paraphraser"]
	path = paraphraser
	url = ./paraphraser
[submodule "pass-import"]
	path = pass-import
	url = ./pass-import
[submodule "pegasus-api"]
	path = pegasus-api
	url = ./pegasus-api
[submodule "pegasus-front"]
	path = pegasus-front
	url = ./pegasus-front
[submodule "pegasus-infra"]
	path = pegasus-infra
	url = ./pegasus-infra
[submodule "phoenix-api"]
	path = phoenix-api
	url = ./phoenix-api
[submodule "phoenix-front"]
	path = phoenix-front
	url = ./phoenix-front
[submodule "phoenix-infra"]
	path = phoenix-infra
	url = ./phoenix-infra
[submodule "pickup"]
	path = pickup
	url = ./pickup
[submodule "platform_frameworks_base"]
	path = platform_frameworks_base
	url = ./platform_frameworks_base
[submodule "portix"]
	path = portix
	url = ./portix
[submodule "pritunl"]
	path = pritunl
	url = ./pritunl
[submodule "pritunl-client-electron"]
	path = pritunl-client-electron
	url = ./pritunl-client-electron
[submodule "prospectix7"]
	path = prospectix7
	url = ./prospectix7
[submodule "prospectix7-api"]
	path = prospectix7-api
	url = ./prospectix7-api
[submodule "prospectix7-front"]
	path = prospectix7-front
	url = ./prospectix7-front
[submodule "prospectix-api"]
	path = prospectix-api
	url = ./prospectix-api
[submodule "prospectix-front"]
	path = prospectix-front
	url = ./prospectix-front
[submodule "prospectix-infra"]
	path = prospectix-infra
	url = ./prospectix-infra
[submodule "proxy-list"]
	path = proxy-list
	url = ./proxy-list
[submodule "pymake"]
	path = pymake
	url = ./pymake
[submodule "Python"]
	path = Python
	url = ./Python
[submodule "python-2020"]
	path = python-2020
	url = ./python-2020
[submodule "reactive-resume"]
	path = reactive-resume
	url = ./reactive-resume
[submodule "rgpdix"]
	path = rgpdix
	url = ./rgpdix
[submodule "robomongo"]
	path = robomongo
	url = ./robomongo
[submodule "rust"]
	path = rust
	url = ./rust
[submodule "samy-dotfiles"]
	path = samy-dotfiles
	url = ./samy-dotfiles
[submodule "sandbox"]
	path = sandbox
	url = ./sandbox
[submodule "schtroumpfix"]
	path = schtroumpfix
	url = ./schtroumpfix
[submodule "secrets"]
	path = secrets
	url = ./secrets
[submodule "sequelpro"]
	path = sequelpro
	url = ./sequelpro
[submodule "shell"]
	path = shell
	url = ./shell
[submodule "signal-desktop"]
	path = signal-desktop
	url = ./signal-desktop
[submodule "signal-server"]
	path = signal-server
	url = ./signal-server
[submodule "ssh"]
	path = ssh
	url = ./ssh
[submodule "ssh-honeypot"]
	path = ssh-honeypot
	url = ./ssh-honeypot
[submodule "sshpiper"]
	path = sshpiper
	url = ./sshpiper
[submodule "stow"]
	path = stow
	url = ./stow
[submodule "student-webapp"]
	path = student-webapp
	url = ./student-webapp
[submodule "svelte-template"]
	path = svelte-template
	url = ./svelte-template
[submodule "sysadmin-tools"]
	path = sysadmin-tools
	url = ./sysadmin-tools
[submodule "termux"]
	path = termux
	url = ./termux
[submodule "termux-app"]
	path = termux-app
	url = ./termux-app
[submodule "termux-packages"]
	path = termux-packages
	url = ./termux-packages
[submodule "thaiwara"]
	path = thaiwara
	url = ./thaiwara
[submodule "thc-hydra"]
	path = thc-hydra
	url = ./thc-hydra
[submodule "tia21"]
	path = tia21
	url = ./tia21
[submodule "tmate-ssh-server"]
	path = tmate-ssh-server
	url = ./tmate-ssh-server
[submodule "tunnel"]
	path = tunnel
	url = ./tunnel
[submodule "upterm"]
	path = upterm
	url = ./upterm
[submodule "vagrant"]
	path = vagrant
	url = ./vagrant
[submodule "vpn"]
	path = vpn
	url = ./vpn
[submodule "web"]
	path = web
	url = ./web
[submodule "website"]
	path = website
	url = ./website
[submodule "wordpress"]
	path = wordpress
	url = ./wordpress
[submodule "xerosploit"]
	path = xerosploit
	url = ./xerosploit
[submodule "c"]
	path = c
	url = ./c
[submodule "valentin-dotfiles"]
	path = valentin-dotfiles
	url = ./valentin-dotfiles
[submodule "blockchain"]
	path = blockchain
	url = ./blockchain
[submodule "caddy-vps"]
	path = caddy-vps
	url = ./caddy-vps
[submodule "csharp"]
	path = csharp
	url = ./csharp
[submodule "ff2mpv"]
	path = ff2mpv
	url = ./ff2mpv
[submodule "framapad"]
	path = framapad
	url = ./framapad
[submodule "ia-optimisation"]
	path = ia-optimisation
	url = ./ia-optimisation
[submodule "isep"]
	path = isep
	url = ./isep
[submodule "je-pharmacie-francaise-api"]
	path = je-pharmacie-francaise-api
	url = ./je-pharmacie-francaise-api
[submodule "JohnTheRipper"]
	path = JohnTheRipper
	url = ./JohnTheRipper
[submodule "monero"]
	path = monero
	url = ./monero
[submodule "monero-gui"]
	path = monero-gui
	url = ./monero-gui
[submodule "novpn"]
	path = novpn
	url = ./novpn
[submodule "reredirect"]
	path = reredirect
	url = ./reredirect
[submodule "template"]
	path = template
	url = ./template
[submodule "johntheripper"]
	path = johntheripper
	url = ./johntheripper
[submodule "beef"]
	path = beef
	url = ./beef
[submodule "data-analysis"]
	path = data-analysis
	url = ./data-analysis
[submodule "git-puller"]
	path = git-puller
	url = ./git-puller
[submodule "jupyter-by-marc"]
	path = jupyter-by-marc
	url = ./jupyter-by-marc
[submodule "live-streaming-using-opencv-flask"]
	path = live-streaming-using-opencv-flask
	url = ./live-streaming-using-opencv-flask
[submodule "opencv-stream-video-to-web"]
	path = opencv-stream-video-to-web
	url = ./opencv-stream-video-to-web
[submodule "service"]
	path = service
	url = ./service
[submodule "libinput-gestures"]
	path = libinput-gestures
	url = ./libinput-gestures
[submodule "mailcow-dockerized"]
	path = mailcow-dockerized
	url = ./mailcow-dockerized
[submodule "pulseaudio-ctl"]
	path = pulseaudio-ctl
	url = ./pulseaudio-ctl
[submodule "python"]
	path = python
	url = ./python
[submodule "slackisotermix"]
	path = slackisotermix
	url = ./slackisotermix
[submodule "anomaly21"]
	path = anomaly21
	url = ./anomaly21
[submodule "airflow"]
	path = airflow
	url = ./airflow
[submodule "app-intervenant-infra"]
	path = app-intervenant-infra
	url = ./app-intervenant-infra
[submodule "bspwm"]
	path = bspwm
	url = ./bspwm
[submodule "camphish"]
	path = camphish
	url = ./camphish
[submodule "database"]
	path = database
	url = ./database
[submodule "deskreen"]
	path = deskreen
	url = ./deskreen
[submodule "dwm"]
	path = dwm
	url = ./dwm
[submodule "extension-list"]
	path = extension-list
	url = ./extension-list
[submodule "gnome-shell-extensions"]
	path = gnome-shell-extensions
	url = ./gnome-shell-extensions
[submodule "IALab"]
	path = IALab
	url = ./IALab
[submodule "miraclecast"]
	path = miraclecast
	url = ./miraclecast
[submodule "mojave-gtk-theme"]
	path = mojave-gtk-theme
	url = ./mojave-gtk-theme
[submodule "paper-icon-theme"]
	path = paper-icon-theme
	url = ./paper-icon-theme
[submodule "pegasus-documents"]
	path = pegasus-documents
	url = ./pegasus-documents
[submodule "phoenix-mail"]
	path = phoenix-mail
	url = ./phoenix-mail
[submodule "phoenix-services"]
	path = phoenix-services
	url = ./phoenix-services
[submodule "pickup-kibana"]
	path = pickup-kibana
	url = ./pickup-kibana
[submodule "poetry-test"]
	path = poetry-test
	url = ./poetry-test
[submodule "polybar-dwm-module"]
	path = polybar-dwm-module
	url = ./polybar-dwm-module
[submodule "spotify"]
	path = spotify
	url = ./spotify
[submodule "arch"]
	path = arch
	url = ./arch
[submodule "avd"]
	path = avd
	url = ./avd
[submodule "connman"]
	path = connman
	url = ./connman
[submodule "data-analysis-vinicole"]
	path = data-analysis-vinicole
	url = ./data-analysis-vinicole
[submodule "dwm-bar"]
	path = dwm-bar
	url = ./dwm-bar
[submodule "element-desktop"]
	path = element-desktop
	url = ./element-desktop
[submodule "ly"]
	path = ly
	url = ./ly
[submodule "networkmanager-dmenu"]
	path = networkmanager-dmenu
	url = ./networkmanager-dmenu
[submodule "pamixer"]
	path = pamixer
	url = ./pamixer
[submodule "watsmynote"]
	path = watsmynote
	url = ./watsmynote
[submodule "airstatus"]
	path = airstatus
	url = ./airstatus
[submodule "bigdata-project"]
	path = bigdata-project
	url = ./bigdata-project
[submodule "caddy-docker-proxy"]
	path = caddy-docker-proxy
	url = ./caddy-docker-proxy
[submodule "dotfiles-arp242"]
	path = dotfiles-arp242
	url = ./dotfiles-arp242
[submodule "dwm-flexipatch"]
	path = dwm-flexipatch
	url = ./dwm-flexipatch
[submodule "green-recorder"]
	path = green-recorder
	url = ./green-recorder
[submodule "mailspring"]
	path = mailspring
	url = ./mailspring
[submodule "mapix"]
	path = mapix
	url = ./mapix
[submodule "schtroumpfix2"]
	path = schtroumpfix2
	url = ./schtroumpfix2
[submodule "spotifyd"]
	path = spotifyd
	url = ./spotifyd
[submodule "st"]
	path = st
	url = ./st
[submodule "switchboard-plug-bluetooth"]
	path = switchboard-plug-bluetooth
	url = ./switchboard-plug-bluetooth
[submodule "tabbed"]
	path = tabbed
	url = ./tabbed
[submodule "tictactoe"]
	path = tictactoe
	url = ./tictactoe
[submodule "valentin-website"]
	path = valentin-website
	url = ./valentin-website
