[submodule "tia21"]
	path = tia21
	url = https://pickupsa:h7n4j67bojbllh3zqnj66vi6jlsqyeocen6esqwebb4nrssc3hva@dev.azure.com/pickupsa/Pickup/_git/TIA21
[submodule "colis21"]
	path = colis21
	url = https://pickupsa:hley2us2mspmwgfndxkgplbvhzjifgv2pztkotc6rq2eq3akysrq@dev.azure.com/pickupsa/Pickup/_git/Colis21
[submodule "tia21-config"]
	path = tia21-config
	url = https://pickupsa:wdcochjwnejq5ctczmzjhkhurth4k5iv6gwmx7ltkrhbx2xu4vnq@dev.azure.com/pickupsa/Pickup/_git/TIA21-config
[submodule "colis21-config"]
	path = colis21-config
	url = https://pickupsa:olmbqanvnrqhxqsklukbd7tqlltqa2kwhsvrg4q72x6gvieufrcq@dev.azure.com/pickupsa/Pickup/_git/Colis21-config
[submodule "api-doc2"]
	path = api-doc2
	url = git@github.com:marcpartensky/git
[submodule "ansible"]
	path = ansible
	url = git@github.com:marcpartensky/git
[submodule "api-slack"]
	path = api-slack
	url = git@github.com:marcpartensky/git
[submodule "applescript"]
	path = applescript
	url = git@github.com:marcpartensky/git
[submodule "automation"]
	path = automation
	url = git@github.com:marcpartensky/git
[submodule "backup-cleaner"]
	path = backup-cleaner
	url = git@github.com:marcpartensky/git
[submodule "backup-scripts"]
	path = backup-scripts
	url = ./backup-scripts
[submodule "bashbunny-payloads"]
	path = bashbunny-payloads
	url = git@github.com:marcpartensky/git
[submodule "battistelli"]
	path = battistelli
	url = git@github.com:marcpartensky/git
[submodule "bitwarden-server"]
	path = bitwarden-server
	url = git@github.com:marcpartensky/git
[submodule "brainperformer"]
	path = brainperformer
	url = git@github.com:marcpartensky/git
[submodule "bruteforce-gpg"]
	path = bruteforce-gpg
	url = git@github.com:marcpartensky/git
[submodule "bully"]
    path = bully
	url = git@github.com:marcpartensky/git/bully
[submodule "caddix"]
	path = caddix
	url = git@github.com:marcpartensky/git
[submodule "caps2esc"]
	path = caps2esc
	url = git@github.com:marcpartensky/git
[submodule "colis21"]
	path = colis21
	url = ./colis21
[submodule "concours-consultants-2013"]
	path = concours-consultants-2013
	url = git@github.com:marcpartensky/git
[submodule "consultant-mobile-app"]
	path = consultant-mobile-app
	url = git@github.com:marcpartensky/git
[submodule "cv"]
	path = cv
	url = git@github.com:marcpartensky/git
[submodule "cv2"]
	path = cv2
	url = git@github.com:marcpartensky/git
[submodule "discord-bot"]
	path = discord-bot
	url = git@github.com:marcpartensky/git
[submodule "discord-irc"]
	path = discord-irc
	url = git@github.com:reactiflux/discord-irc.git
[submodule "docker"]
	path = docker
	url = git@github.com:marcpartensky/git
[submodule "docker-api"]
	path = docker-api
	url = git@github.com:marcpartensky/git
[submodule "docker-consultants"]
	path = docker-consultants
	url = git@github.com:marcpartensky/git
[submodule "docker-engine"]
	path = docker-engine
	url = git@github.com:marcpartensky/git
[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:MarcPartensky/Dotfiles.git
[submodule "focalboard"]
	path = focalboard
	url = ./focalboard
[submodule "Fourier"]
	path = Fourier
	url = ./Fourier
[submodule "gansformer"]
	path = gansformer
	url = ./gansformer
[submodule "git"]
	path = git
	url = ./git
[submodule "github-cv"]
	path = github-cv
	url = ./github-cv
[submodule "go"]
	path = go
	url = ./go
[submodule "hackerrank"]
	path = hackerrank
	url = ./hackerrank
[submodule "hackingtool"]
	path = hackingtool
	url = ./hackingtool
[submodule "homebrew-core"]
	path = homebrew-core
	url = ./homebrew-core
[submodule "icons-in-terminal"]
	path = icons-in-terminal
	url = ./icons-in-terminal
[submodule "infra-dockers-consultants"]
	path = infra-dockers-consultants
	url = ./infra-dockers-consultants
[submodule "inspircd"]
	path = inspircd
	url = ./inspircd
[submodule "interception_tools"]
	path = interception_tools
	url = ./interception_tools
[submodule "iseplife-back"]
	path = iseplife-back
	url = ./iseplife-back
[submodule "iseplife-front"]
	path = iseplife-front
	url = ./iseplife-front
[submodule "iseplive"]
	path = iseplive
	url = ./iseplive
[submodule "java"]
	path = java
	url = ./java
[submodule "je-todoapp"]
	path = je-todoapp
	url = ./je-todoapp
[submodule "je-wiki"]
	path = je-wiki
	url = ./je-wiki
[submodule "john"]
	path = john
	url = ./john
[submodule "jupyter"]
	path = jupyter
	url = ./jupyter
[submodule "latex"]
	path = latex
	url = ./latex
[submodule "lightcord-bin"]
	path = lightcord-bin
	url = ./lightcord-bin
[submodule "linkedix"]
	path = linkedix
	url = ./linkedix
[submodule "linux"]
	path = linux
	url = ./linux
[submodule "log4jpwn"]
	path = log4jpwn
	url = ./log4jpwn
[submodule "markdown"]
	path = markdown
	url = git@github.com:MarcPartensky/Markdown.git
[submodule "metasploit-framework"]
	path = metasploit-framework
	url = ./metasploit-framework
[submodule "minikube"]
	path = minikube
	url = ./minikube
[submodule "mounts"]
	path = mounts
	url = ./mounts
[submodule "neovim"]
	path = neovim
	url = ./neovim
[submodule "nerd-fonts"]
	path = nerd-fonts
	url = ./nerd-fonts
[submodule "netcat"]
	path = netcat
	url = ./netcat
[submodule "nvim"]
	path = nvim
	url = ./nvim
[submodule "pandoc-api"]
	path = pandoc-api
	url = ./pandoc-api
[submodule "paraphrase-generator"]
	path = paraphrase-generator
	url = git@github.com:Vamsi995/Paraphrase-Generator.git
[submodule "paraphraser"]
	path = paraphraser
	url = git@github.com:RasaHQ/paraphraser.git
[submodule "pass-import"]
	path = pass-import
	url = git@github.com:roddhjav/pass-import.git
[submodule "pegasus-api"]
	path = pegasus-api
	url = ssh://git@git.dev.juniorisep.com:18338/pegasus/pegasus-api.git
[submodule "pegasus-front"]
	path = pegasus-front
	url = ssh://git@git.dev.juniorisep.com:18338/pegasus/pegasus-front.git
[submodule "pegasus-infra"]
	path = pegasus-infra
	url = ssh://git@git.dev.juniorisep.com:18338/pegasus/pegasus-infra.git
[submodule "phoenix-api"]
	path = phoenix-api
	url = ssh://git@git.dev.juniorisep.com:18338/interne/phoenix/phoenix-api.git
[submodule "phoenix-front"]
	path = phoenix-front
	url = ssh://git@git.dev.juniorisep.com:18338/interne/phoenix/phoenix-front.git
[submodule "phoenix-infra"]
	path = phoenix-infra
	url = ssh://git@git.dev.juniorisep.com:18338/interne/phoenix/phoenix-infra.git
[submodule "pickup"]
	path = pickup
	url = git@github.com:marcpartensky/pickup
[submodule "platform_frameworks_base"]
	path = platform_frameworks_base
	url = git@github.com:aosp-mirror/platform_frameworks_base.git
[submodule "portix"]
	path = portix
	url = ssh://git@git.dev.juniorisep.com:18338/mpartensky/portix.git
[submodule "pritunl"]
	path = pritunl
	url = git@github.com:pritunl/pritunl.git
[submodule "pritunl-client-electron"]
	path = pritunl-client-electron
	url = git@github.com:pritunl/pritunl-client-electron.git
[submodule "prospectix7"]
	path = prospectix7
	url = git@github.com:Coding-Foundation/prospectix-premium.git
[submodule "prospectix7-api"]
	path = prospectix7-api
	url = git@github.com:Coding-Foundation/prospectix-premium-back.git
[submodule "prospectix7-front"]
	path = prospectix7-front
	url = git@github.com:gmoindrot/prospectix-premium-front.git
[submodule "prospectix-api"]
	path = prospectix-api
	url = ./prospectix-api
[submodule "prospectix-front"]
	path = prospectix-front
	url = ./prospectix-front
[submodule "prospectix-infra"]
	path = prospectix-infra
	url = ./prospectix-infra
[submodule "proxy-list"]
	path = proxy-list
	url = git@github.com:clarketm/proxy-list.git
[submodule "pymake"]
	path = pymake
	url = git@github.com:mozilla/pymake.git
[submodule "Python"]
	path = Python
	url = ./Python
[submodule "python-2020"]
	path = python-2020
	url = git@github.com:MarcPartensky/Python-2020.git
[submodule "reactive-resume"]
	path = reactive-resume
	url = git@github.com:AmruthPillai/Reactive-Resume.git
[submodule "rgpdix"]
	path = rgpdix
	url = git@github.com:Coding-Foundation/RGPDix.git
[submodule "robomongo"]
	path = robomongo
	url = git@github.com:Studio3T/robomongo.git
[submodule "rust"]
	path = rust
	url = git@github.com:MarcPartensky/Rust.git
[submodule "samy-dotfiles"]
	path = samy-dotfiles
	url = git@github.com:samyhaff/dotfiles.git
[submodule "sandbox"]
	path = sandbox
	url = git@github.com:MarcPartensky/Sandbox.git
[submodule "schtroumpfix"]
	path = schtroumpfix
	url = git@github.com:MarcPartensky/schtroumpfix.git
[submodule "secrets"]
	path = secrets
	url = git@github:marcpartensky/secrets
[submodule "sequelpro"]
	path = sequelpro
	url = git@github.com:sequelpro/sequelpro.git
[submodule "shell"]
	path = shell
	url = git@github.com:MarcPartensky/Shell.git
[submodule "signal-desktop"]
	path = signal-desktop
	url = git@github.com:signalapp/Signal-Desktop.git
[submodule "signal-server"]
	path = signal-server
	url = git@github.com:signalapp/Signal-Server.git
[submodule "ssh"]
	path = ssh
	url = ssh://git@git.dev.juniorisep.com:18338/mpartensky/ssh.git
[submodule "ssh-honeypot"]
	path = ssh-honeypot
	url = git@github.com:droberson/ssh-honeypot.git
[submodule "sshpiper"]
	path = sshpiper
	url = git@github.com:tg123/sshpiper.git
[submodule "stow"]
	path = stow
	url = git@github.com:aspiers/stow.git
[submodule "student-webapp"]
	path = student-webapp
	url = ssh://git@git.dev.juniorisep.com:18338/application-consultants-globale/student-webapp.git
[submodule "svelte-template"]
	path = svelte-template
	url = git@github.com:sveltejs/template.git
[submodule "sysadmin-tools"]
	path = sysadmin-tools
	url = ssh://git@git.dev.juniorisep.com:18338/interne/sysadmins/sysadmin-tools.git
[submodule "termux"]
	path = termux
	url = git@github.com:Grimler91/unstable-packages.git
[submodule "termux-app"]
	path = termux-app
	url = git@github.com:termux/termux-app.git
[submodule "termux-packages"]
	path = termux-packages
	url = git@github.com:termux/termux-packages.git
[submodule "thaiwara"]
	path = thaiwara
	url = git@github.com:MarcPartensky/thaiwara.git
[submodule "thc-hydra"]
	path = thc-hydra
	url = git@github.com:vanhauser-thc/thc-hydra.git
[submodule "tia21"]
	path = tia21
	url = ./tia21
[submodule "tmate-ssh-server"]
	path = tmate-ssh-server
	url = git@github.com:tmate-io/tmate-ssh-server.git
[submodule "tunnel"]
	path = tunnel
	url = ssh://github/marcpartensky/tunnel
[submodule "upterm"]
	path = upterm
	url = git@github.com:owenthereal/upterm.git
[submodule "vagrant"]
	path = vagrant
	url = git@github.com:MarcPartensky/vagrant.git
[submodule "vpn"]
	path = vpn
	url = ./vpn
[submodule "web"]
	path = web
	url = git@github.com:MarcPartensky/Web.git
[submodule "website"]
	path = website
	url = git@gitlab.com:marcpartensky/website
[submodule "wordpress"]
	path = wordpress
	url = git@github.com:MarcPartensky/wordpress.git
[submodule "xerosploit"]
	path = xerosploit
	url = https://github.com/LionSec/xerosploit
[submodule "c"]
	path = c
	url = git@github.com:marcpartensky/git
[submodule "valentin-dotfiles"]
	path = valentin-dotfiles
	url = git@github.com:marcpartensky/git/valentin-dotfiles
[submodule "blockchain"]
	path = blockchain
	url = git@github.com:marcpartensky/git
[submodule "caddy-vps"]
	path = caddy-vps
	url = git@github.com:marcpartensky/git
[submodule "csharp"]
	path = csharp
	url = git@github.com:marcpartensky/git
[submodule "ff2mpv"]
	path = ff2mpv
	url = ./ff2mpv
[submodule "framapad"]
	path = framapad
	url = ./framapad
[submodule "ia-optimisation"]
	path = ia-optimisation
	url = ./ia-optimisation
[submodule "isep"]
	path = isep
	url = ./isep
[submodule "je-pharmacie-francaise-api"]
	path = je-pharmacie-francaise-api
	url = ./je-pharmacie-francaise-api
[submodule "JohnTheRipper"]
	path = JohnTheRipper
	url = ./JohnTheRipper
[submodule "monero"]
	path = monero
	url = ./monero
[submodule "monero-gui"]
	path = monero-gui
	url = ./monero-gui
[submodule "novpn"]
	path = novpn
	url = ./novpn
[submodule "reredirect"]
	path = reredirect
	url = git@github.com:marcpartensky/git/reredirect
[submodule "template"]
	path = template
	url = git@github.com:marcpartensky/git/template
[submodule "johntheripper"]
	path = johntheripper
	url = ./johntheripper
[submodule "beef"]
	path = beef
	url = git@github.com:marcpartensky/git
[submodule "data-analysis"]
	path = data-analysis
	url = git@github.com:marcpartensky/git
[submodule "git-puller"]
	path = git-puller
	url = ./git-puller
[submodule "jupyter-by-marc"]
	path = jupyter-by-marc
	url = ./jupyter-by-marc
[submodule "live-streaming-using-opencv-flask"]
	path = live-streaming-using-opencv-flask
	url = ./live-streaming-using-opencv-flask
[submodule "opencv-stream-video-to-web"]
	path = opencv-stream-video-to-web
	url = ./opencv-stream-video-to-web
[submodule "service"]
	path = service
	url = git@github.com:marcpartensky/git/service
[submodule "libinput-gestures"]
	path = libinput-gestures
	url = ./libinput-gestures
[submodule "mailcow-dockerized"]
	path = mailcow-dockerized
	url = ./mailcow-dockerized
[submodule "pulseaudio-ctl"]
	path = pulseaudio-ctl
	url = git@github.com:marcpartensky/git/pulseaudio-ctl
[submodule "python"]
	path = python
	url = git@github.com:xantix1203/Python.git
[submodule "slackisotermix"]
	path = slackisotermix
	url = git@github.com:marcpartensky/git/slackisotermix
[submodule "anomaly21"]
	path = anomaly21
	url = git@github.com:marcpartensky/git
[submodule "airflow"]
	path = airflow
	url = git@github.com:marcpartensky/git
[submodule "app-intervenant-infra"]
	path = app-intervenant-infra
	url = git@github.com:marcpartensky/git
[submodule "bspwm"]
	path = bspwm
	url = git@github.com:marcpartensky/git
[submodule "camphish"]
	path = camphish
	url = git@github.com:marcpartensky/git
[submodule "database"]
	path = database
	url = git@github.com:marcpartensky/git
[submodule "deskreen"]
	path = deskreen
	url = git@github.com:marcpartensky/git
[submodule "dwm"]
	path = dwm
	url = git@github.com:MarcPartensky/dwm.git
[submodule "extension-list"]
	path = extension-list
	url = ./extension-list
[submodule "gnome-shell-extensions"]
	path = gnome-shell-extensions
	url = ./gnome-shell-extensions
[submodule "IALab"]
	path = IALab
	url = git@github.com:marcpartensky/git
[submodule "miraclecast"]
	path = miraclecast
	url = ./miraclecast
[submodule "mojave-gtk-theme"]
	path = mojave-gtk-theme
	url = ./mojave-gtk-theme
[submodule "paper-icon-theme"]
	path = paper-icon-theme
	url = git@github.com:marcpartensky/git/paper-icon-theme
[submodule "pegasus-documents"]
	path = pegasus-documents
	url = git@github.com:marcpartensky/git/pegasus-documents
[submodule "phoenix-mail"]
	path = phoenix-mail
	url = git@github.com:marcpartensky/git/phoenix-mail
[submodule "phoenix-services"]
	path = phoenix-services
	url = git@github.com:marcpartensky/git/phoenix-services
[submodule "pickup-kibana"]
	path = pickup-kibana
	url = git@github.com:marcpartensky/git/pickup-kibana
[submodule "poetry-test"]
	path = poetry-test
	url = git@github.com:marcpartensky/git/poetry-test
[submodule "polybar-dwm-module"]
	path = polybar-dwm-module
	url = git@github.com:polybar/polybar.git
[submodule "spotify"]
	path = spotify
	url = git@github.com:marcpartensky/git/spotify
[submodule "arch"]
	path = arch
	url = git@github.com:marcpartensky/git
[submodule "avd"]
	path = avd
	url = git@github.com:marcpartensky/git
[submodule "connman"]
	path = connman
	url = git@github.com:marcpartensky/git
[submodule "data-analysis-vinicole"]
	path = data-analysis-vinicole
	url = git@github.com:marcpartensky/git
[submodule "dwm-bar"]
	path = dwm-bar
	url = git@github.com:joestandring/dwm-bar.git
[submodule "element-desktop"]
	path = element-desktop
	url = ./element-desktop
[submodule "ly"]
	path = ly
	url = ./ly
[submodule "networkmanager-dmenu"]
	path = networkmanager-dmenu
	url = ./networkmanager-dmenu
[submodule "pamixer"]
	path = pamixer
	url = ./pamixer
[submodule "watsmynote"]
	path = watsmynote
	url = git@github.com:marcpartensky/git/watsmynote
[submodule "airstatus"]
	path = airstatus
	url = git@github.com:marcpartensky/git
[submodule "bigdata-project"]
	path = bigdata-project
	url = git@github.com:marcpartensky/git
[submodule "caddy-docker-proxy"]
	path = caddy-docker-proxy
	url = git@github.com:marcpartensky/git
[submodule "dotfiles-arp242"]
	path = dotfiles-arp242
	url = ./dotfiles-arp242
[submodule "dwm-flexipatch"]
	path = dwm-flexipatch
	url = ./dwm-flexipatch
[submodule "green-recorder"]
	path = green-recorder
	url = ./green-recorder
[submodule "mailspring"]
	path = mailspring
	url = ./mailspring
[submodule "mapix"]
	path = mapix
	url = ./mapix
[submodule "schtroumpfix2"]
	path = schtroumpfix2
	url = git@github.com:marcpartensky/git/schtroumpfix2
[submodule "spotifyd"]
	path = spotifyd
	url = git@github.com:marcpartensky/git/spotifyd
[submodule "st"]
	path = st
	url = git@github.com:LukeSmithxyz/st.git
[submodule "switchboard-plug-bluetooth"]
	path = switchboard-plug-bluetooth
	url = git@github.com:marcpartensky/git/switchboard-plug-bluetooth
[submodule "tabbed"]
	path = tabbed
	url = https://git.suckless.org/tabbed
[submodule "tictactoe"]
	path = tictactoe
	url = git@github.com:samyhaff/Tic-tac-toe.git
[submodule "valentin-website"]
	path = valentin-website
	url = git@github.com:ValentinColin/Website.git
[submodule "asteroids"]
	path = asteroids
	url = git@github.com:marcpartensky/git
[submodule "clitify"]
	path = clitify
	url = git@github.com:marcpartensky/git
[submodule "cli-typer"]
	path = cli-typer
	url = git@github.com:marcpartensky/git
[submodule "fourier"]
	path = fourier
	url = ./fourier
[submodule "paru"]
	path = paru
	url = git@github.com:marcpartensky/git/paru
[submodule "pygame-geometry"]
	path = pygame-geometry
	url = git@github.com:marcpartensky/git/pygame-geometry
[submodule "stow-dir"]
	path = stow-dir
	url = git@github.com:marcpartensky/git/stow-dir
[submodule "switchboard"]
	path = switchboard
	url = git@github.com:marcpartensky/git/switchboard
[submodule "youtube-downloader"]
	path = youtube-downloader
	url = git@github.com:marcpartensky/git/youtube-downloader
[submodule "calendar"]
	path = calendar
	url = git@github.com:marcpartensky/git/calendar
[submodule "california"]
	path = california
	url = git@github.com:marcpartensky/git/california
[submodule "dwmblocks"]
	path = dwmblocks
	url = git@github.com:marcpartensky/git/dwmblocks
[submodule "iceweasel"]
	path = iceweasel
	url = git@github.com:mozilla/gecko-dev.git
[submodule "iwd-hs"]
	path = iwd-hs
	url = git@github.com:marcpartensky/git/iwd-hs
[submodule "lukesmith-dotfiles"]
	path = lukesmith-dotfiles
	url = git@github.com:marcpartensky/git/lukesmith-dotfiles
[submodule "project-music-api"]
	path = project-music-api
	url = git@github.com:Crakleurs/project-music-api.git
[submodule "samy-dwm"]
	path = samy-dwm
	url = git@github.com:marcpartensky/git/samy-dwm
[submodule "samy-dwmblocks"]
	path = samy-dwmblocks
	url = git@github.com:marcpartensky/git/samy-dwmblocks
[submodule "serenity"]
	path = serenity
	url = git@github.com:marcpartensky/git/serenity
[submodule "slock"]
	path = slock
	url = git@github.com:marcpartensky/git/slock
[submodule "spotify-react-web-client"]
	path = spotify-react-web-client
	url = git@github.com:marcpartensky/git/spotify-react-web-client
[submodule "spotifywm"]
	path = spotifywm
	url = git@github.com:marcpartensky/git/spotifywm
[submodule "switchboard-plug-security-privacy"]
	path = switchboard-plug-security-privacy
	url = git@github.com:marcpartensky/git/switchboard-plug-security-privacy
[submodule "switchboard-plug-services"]
	path = switchboard-plug-services
	url = git@github.com:marcpartensky/git/switchboard-plug-services
[submodule "theme-toggler"]
	path = theme-toggler
	url = git@github.com:marcpartensky/git/theme-toggler
[submodule "transparent-theme"]
	path = transparent-theme
	url = git@github.com:marcpartensky/git/transparent-theme
[submodule "docker-forticlient"]
	url = git@github.com:MarcPartensky/docker-forticlient.git
[submodule "fail2ban"]
	url = git@github.com:fail2ban/fail2ban.git
[submodule "favicon-proxy"]
	url = https://github.com/keeweb/favicon-proxy.git
[submodule "insomnia"]
	url = git@github.com:Kong/insomnia.git
[submodule "isphoenixup"]
	url = ssh://git@git.dev.juniorisep.com:18338/mpartensky/isphoenixup.git
[submodule "kdbxweb"]
	url = https://github.com/keeweb/kdbxweb.git
[submodule "keeweb"]
	url = https://github.com/keeweb/keeweb.git
[submodule "keeweb-beta"]
	url = https://github.com/keeweb/beta.keeweb.info.git
[submodule "keeweb-connect"]
	url = https://github.com/keeweb/keeweb-connect.git
[submodule "keeweb-plugins"]
	url = https://github.com/keeweb/keeweb-plugins.git
[submodule "keeweb-site"]
	url = https://github.com/keeweb/keeweb-site.git
[submodule "kingdomino"]
	url = git@github.com:MarcPartensky/kingdomino.git
[submodule "nuki"]
	url = git@github.com:frzifus/nuki.git
[submodule "pms"]
	url = git@github.com:Peekmo/pms
[submodule "prospectix5-back"]
	url = ssh://git@git.dev.juniorisep.com:18338/interne/prospectix/api.git
[submodule "prospectix6-api"]
	url = ssh://git@git.dev.juniorisep.com:18338/interne/prospectix-6/prospectix-api.git
[submodule "prospectix6-front"]
	url = ssh://git@git.dev.juniorisep.com:18338/interne/prospectix-6/prospectix-front.git
[submodule "prospectix6-infra"]
	url = ssh://git@git.dev.juniorisep.com:18338/interne/prospectix-6/prospectix-infra.git
[submodule "searchix-api"]
	url = ssh://git@git.dev.juniorisep.com:18338/interne/phoenix/searchix-api.git
[submodule "services"]
	url = git@github.com:MarcPartensky/services.git
[submodule "silentxmrminer"]
	url = git@github.com:UnamSanctam/SilentXMRMiner.git
[submodule "spotify-cli"]
	url = git@github.com:brianstrauch/spotify-cli.git
[submodule "tmux-spotify"]
	url = git@github.com:jrock2004/tmux-spotify.git
[submodule "wifi-bf"]
	url = git@github.com:flancast90/wifi-bf.git
[submodule "wifi-brute-force"]
	url = git@github.com:ahmadchen/WIFI-Brute-Force.git
[submodule "wifite2"]
	url = git@github.com:derv82/wifite2.git
